* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    circle at center,
    #27517a 0%,
    #465b7d 70%,
    #1a2b3b 100%
  );

  .card {
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;

    .head {
      height: 40px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      .start {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          border-radius: 50%;
          height: 30px;
          width: 30px;
        }

        h3 {
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 300;
        }
        button {
          padding: 4px 20px;
          font-size: 1rem;
          border-radius: 5px;
          border: 2px solid black;
          background-color: transparent;
        }
      }
    }

    .photo {
      position: relative;
      overflow: hidden;

      img {
        height: 350px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 10px;
        border-radius: 10px;
      }

      i {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 4rem;
        background-image: url(https://t3.ftcdn.net/jpg/01/14/77/58/360_F_114775804_4yfG9qbKp1NlF1RLo4MUlGIVj9MWhnnc.jpg);
        background-position: center;
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;

        transform: translate(-50%, -50%) scale(0) rotate(-60deg);
        transition: all cubic-bezier(0.65, 1, 0.77, 1.44) 0.3s;
      }
    }

    .section {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .start {
        display: flex;
        gap: 5px;

        #like {
          background-image: url(https://t3.ftcdn.net/jpg/01/14/77/58/360_F_114775804_4yfG9qbKp1NlF1RLo4MUlGIVj9MWhnnc.jpg);
          background-position: center;
          background-size: cover;
          background-clip: text;
          -webkit-background-clip: text;
          color: black;
        }

        i {
          font-size: 30px;
        }
      }
      .end {
        font-size: 30px;
      }
    }

    .des {
      display: flex;
      gap: 5px;
      margin-top: 10px;

      h2 {
        font-size: 1.5rem;
        font-weight: 300;
      }
    }
  }
}
