*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    
    width: 100%;
}
:root{
    --x: 50px;
    --y: 50px;
}
main{
    height: 100%;
    width: 100%;
    overflow: hidden;

    .cursor{
        img{
            height: 40px;
            width: 40px;
            position: absolute;
            inset: 0;
            z-index: 100;
        }
    }

    video{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .box{
        height: 100%;
        width: 100%;
        background: radial-gradient(200px at var(--x) var(--y),rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.923));
        position: absolute;
        z-index: 100;
        inset: 0;
        cursor: none;
    }
}