@font-face {
    font-family: stair;
    src: url(./Night\ Beats.otf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

.main{
   height: 100%;
   width: 100%;
   background-color: lightblue;
   display: flex;
   flex-wrap: wrap;
   padding: 35px;
   gap: 40px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 300px;
    width: 250px;
    padding: 20px;
    box-shadow: 5px 10px 20px black;
    background-color: white;
    border-radius: 10px;
}
.card img{
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
}
.card h4{
    font-size: 26px;
    font-weight: 400;
}

.card p{
    text-align: center;
    font-weight: 550;
    font-size: 14px;
    color: #888;
}

button{
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 30px;
    border: 2px solid rgb(36, 182, 255);
    background-color: rgb(36, 182, 255);
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: transparent;
    color: rgb(36, 182, 255);
}
