*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    overflow: hidden;
}
main{
    height: 100%;
    width: 100%;
    background-color: #0079e38b;
    background-image: repeating-linear-gradient(
        135deg,
        rgba(0,0,0,0.1) 0%,
        rgba(0,0,0,0.1) 1px,
        transparent 1px,
        transparent 10px
    ),
    linear-gradient(
        135deg,
        #448A49 0%,
        #2B455B 50%,
        #7EC86E 100%
    );
    background-size: 150px 150px, cover; 
    background-position: 0 0, center center;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    padding: 15px 30px;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    position: relative;
    z-index: 100;
    background: linear-gradient(
        135deg,
        #448A49 0%,
        #2B455B 50%,
        #7EC86E 100%
    );;
    border: 3px solid white;
    border-radius: 10px;
}
button:active{
    scale: 0.8;
}
h1{
    white-space: nowrap;
}