* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#root {
  height: 100%;
  width: 100%;
  .nav {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;

    #left {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 35px;

      #img {
        height: 30px;
        width: 30px;
        object-fit: cover;
      }
      .link {
        font-size: 1rem;
      }
    }
    #right {
      text-decoration: underline;
    }
  }
  .page {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;

    .rotate {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      transform-origin: left center;
      left: 20px;
      bottom: 0;
      transform: rotate(-90deg);
      padding: 10px;
      gap: 20px;
      color: gray;

      .line {
        width: 60vh;
        background-color: gray;
        height: 2px;
      }
    }

    .left{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px;

        .main{
            display: flex;
            gap: 30px;
        }
        .middle{

            .heading{
                font-size: 14rem;
                font-weight: 100;
            }
            .para{
                font-size: 1.3rem;
            }
        }
        .bottom{
            font-size: 1.2rem;
        }
    }
    .profile{
        height: 100%;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
  }
}
