*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    color: white;
}
main{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: black;

    .elem{
        padding: 20px;
        border-bottom: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h1{
            width: 100%;
            font-size: 5vw;
            font-weight: 900;
            z-index: 9;
            position: relative;
            mix-blend-mode: difference;
            font-family: Arial, Helvetica, sans-serif;
        }

        img{
            height: 100px;
            width: 100px;
            border-radius: 50%;
            position: absolute;
            object-fit: cover;
            opacity: 0;
            
        }
    }
}