* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: cyan;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  height: 400px;
  width: 300px;
  background-color: white;
  border-radius: 20px;
  border: 3px solid black;
  position: relative;
  overflow: hidden;

  #full-screen{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
  }

  .story::-webkit-scrollbar {
    display: none;
  }
  .story {
    height: 120px;
    width: 100%;
    border-bottom: 1px solid rgb(208, 195, 179);
    white-space: nowrap;
    padding: 15px;
    overflow-x: auto;
    overflow-y: hidden;

    .stories {
      height: 90px;
      width: 90px;
      border: 2px solid red;
      border-radius: 50%;
      overflow: hidden;
      display: inline-block;
      margin-right: 5px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
